.container{
    background-image: url('../images/backgrounds/h_img.jpg');
    background-size: cover;
    width: 50px;
    height: 500px;
    text-align: center;

}
.section2{
    /* background-color: transparent; */
    text-align: center;
   /* / height: 200px; */
    /* width: 20; */
    /* font-style: normal; */
    font-size: xx-small;
}
.section3{
    font-size: small;
    background-image: url(../images/backgrounds/s_image.jpg);
    background-size:cover;
    height: 200px;
    text-align: center;
}
.section5{
    background-image: url(../images/backgrounds/c_image.jpg);
    /* background-color: transparent; */
    height: 400px;
    background-size: cover;
    background-color: transparent;
    
}
.row
.row[type=text]{
  background-color: transparent;
}
.second text{
    text-align: center;
    font-size: x-small;
}
.E{
    float: right;
}
.social{
    align-content: center;
}
.name{
    width: 350px;
    background-color: transparent;
}
.email{
    width: 350px;
    background-color: transparent;
}
.message{
    width: 700px;
    height: 200px;
    background-color: transparent;
    padding-bottom: 160px;
}
#design{
    display: none;
}
#development{
    display: none;
}
#product{
    display: none;

}
.social{
    margin: 5px 5px;
    display: inline-block;
    font-size: 20px;
    padding: 1px 1px;
    vertical-align: middle;
}
.work4{
    display: none;
}
#work4{
    position: relative;
}

.work3{
    display: none;
}
#work3{
    position: relative;
}

.work2{
    display: none;
}
#work2{
    position: relative;
}
.work1{
    display: none;
}
#work1{
    position: relative;
}
.work5{
    display: none;
}
#work5{
    position: relative;
}
.work6{
    display: none;
}
#work6{
    position: relative;
}
.work7{
    display: none;
}
#work7{
    position: relative;
}
.work8{
    display: none;
}
#work8{
    position: relative;
}