.container{
    background-image: url('../images/backgrounds/h_img.jpg');
    background-size: cover;
    width: 50px;
    height: 500px;
    text-align: center;

}
.section2{
    /* background-color: transparent; */
    text-align: center;
   /* / height: 200px; */
    /* width: 20; */
    /* font-style: normal; */
    /* font-size: xx-small; */
}
.section3{
    font-size: x-large;
    background-image: url(../images/backgrounds/s_image.jpg);
    background-size:cover;
    height: 400px;
    text-align: center;
}
.section5{
    background-image: url(../images/backgrounds/c_image.jpg);
    /* background-color: transparent; */
    height: 400px;
    background-size: cover;
    background-color: transparent;
    
}
.row[type=text]{
  background-color: transparent;
}
.second text{
    text-align: center;
}
.E{
    float: right;
}
.social{
    align-content: center;
}
.link
}
